<main>
  <h1>categoris</h1>
  <ul>
    <li (click)="navigatingToChild('all')">
      <button [ngClass]="{ colorOfelemetns: currentFilter == 'all' }">
        all
      </button>
    </li>
    <li *ngFor="let items of allCategoris; let i = index">
      <button
        [ngClass]="{ colorOfelemetns: currentFilter == i + 1 }"
        (click)="navigatingToChild(items.id)"
      >
        {{ items.name }}
      </button>
    </li>
  </ul>
  <div class="stylingchild">
    <router-outlet></router-outlet>
    <app-food-filter></app-food-filter>
  </div>
</main>
